# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
